body {
    margin: 0;
}

.header {
    width: 100vw;
    height: 14vh;
    background-color: #497320;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #497320;
}

.container {
    width: 85vw;
    display: flex;
  
 }

 .div_logobranca {
    width: 6vw;
    height: 11vh;
    margin-left: 10px;
  
}

.div_logobranca .img1 {
    width: 100%;
    height: 100%;
}

.titulo {
   color: white;
   margin-left: 10px;
   font-family: monospace;
  
   
}

.header .container {
    justify-content: center;
    align-items: center ;
    height: 10vh;
}

.navbar {
    color: white;
    list-style: none;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;

}

.usuario {
    color: #ffffff;
    list-style: none;
    font-size: xx-large;
    padding-right: 20vw;
}

/* Termino header */

.divtudo {
    width: 100vw;
    height: 80vh;
    background-color: #205273;
}

.primeiratudo {
    width: 100vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.fazenda1 {
    width: 50vw;
    height: 85vh;
    border: solid #497320 4px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text1 {
color: #497320;
}

.textinho {
    font-size: 20px;
}

.grafs {
    width: 48vw;
    height: 50vh;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}




.fazenda2 {
    width: 50vw;
    height: 85vh;
    border: solid #497320 4px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

