body {
    margin: 0;
    overflow-x: hidden;
  
}

.header {
    width: 100vw;
    height: 14vh;
    background-color: #497320;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #497320;
}

.container {
    width: 85vw;
    display: flex;
  
 }

 .div_logobranca {
    width: 6vw;
    height: 11vh;
    margin-left: 10px;
  
}

.div_logobranca .img1 {
    width: 100%;
    height: 100%;
}

.titulo {
   color: white;
   margin-left: 10px;
   font-family: monospace;
  
   
}

.header .container {
    justify-content: center;
    align-items: center ;
    height: 10vh;
}

.navbar {
    color: white;
    list-style: none;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;

}

.usuario {
    color: #ffffff;
    list-style: none;
    font-size: xx-large;
    padding-right: 20vw;
}

/* Termino header */

.divtudo {
    width: 100vw;
    height: 80vh;
    background-color: white;
    display: flex;
}

.primeiratudo {
    width: 100vw;
    height: 85vh;
    display: flex;   
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.fazenda1 {
    width: 50vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.text1 {
    color: red; 
}

.textinho {
    font-size: 20px;
}

.grafs {
    width: 48vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Começo da kpi*/ 

.critico{ 

    color: red;
    margin-top: 50px;
}




.sensor1 {
     
    margin-top: 50px ;
    color: #d10a0a;
    margin-left: 125px;
    padding-top: 35px;
}

.grafico {
     
    width: 48vw;
    margin-left: 5px;
}

.sensor2 {
    margin-top: 20px;   
    color:#5858ec;
    margin-left: 125px;
}

.grafico2{
 
    width: 48vw;
    margin-left: 5px;
}