body {
    margin: 0;
    overflow-x: hidden;
  
}

.header {
    width: 100vw;
    height: 14vh;
    background-color: #497320;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #497320;
}

.container {
    width: 85vw;
    display: flex;
  
 }

 .div_logobranca {
    width: 6vw;
    height: 11vh;
    margin-left: 10px;
  
}

.div_logobranca .img1 {
    width: 100%;
    height: 100%;
}

.titulo {
   color: white;
   margin-left: 10px;
   font-family: monospace;
  
   
}

.header .container {
    justify-content: center;
    align-items: center ;
    height: 10vh;
}

.navbar {
    color: white;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    font-family: monospace;

}

#usuario {
    color: #ffffff;
    list-style: none;
    font-size: xx-large;
    text-align: center;
    padding-left: 1vh;
    padding-right: 18vw; 
}  
.usuario{
  
    color: #ffffff;
    list-style: none;
    font-size: xx-large;
    text-align: center;

}

.ulsair{
justify-content: space-between;
list-style: none;

}
.sair{
     
    color: white;
    font-size: 20px;
    font-weight: 200;
    text-decoration: white;

}

/* Termino header */

.divtudo {
    width: 100vw;
    height: 80vh;
    background-color: white;
    display: flex;
 /*   flex-direction: column; */
}
  

/* Iniciando card */

.card_dash{
    
    background-color:#497320;
    height: 60vh;
    width: 17vw;
    margin-top: 25px;
    border: 3px #497320 solid;
    border-radius: 8px;
}

.segunda{  
    margin-top: 50px;
    margin-left: 55px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px white solid;
    color: black;
    height: 8vh;
    width: 8vw;

}

.btn_helpdesk{
     margin-top: 40px;
     margin-left: 55px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px white solid;
    height: 8vh;
    width: 8vw;
    text-decoration: none;
    color: black;
}

.texto_help{
    text-align: center;
    text-decoration: none;
    color: black;
  
}
.fazenda1 {
    width: 50vw;
    height: 83vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-left: 100px;
}


.fazenda2 {
    width: 50vw;
    height: 75vh;
    display: flex;
    align-items: center; 
    flex-direction: column;
}


.text1 {
    color: white; 
    font-size: 18px;
    text-align: center;
}

.textinho {
    font-size: 20px;
}
 

/*.grafico {
     
    width: 48vw;
    margin-top: 80px; 
    margin-left: 10px; 
} */

.sensor2 {
    margin-top: 20px;   
    color:white;
   text-align: center;
}

.grafico2{
    margin-top: 10px;
    width: 40vw;
    margin-left: 5px;
} 

  
.metrica_umid{
      
    width: 85%;
    height: 20vh;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-right:32px; 
    margin-top: 10px;
    font-family: sans-serif;
    
} 




.critico_umid {
 width: 10vw;
 height: 12vh;
 background-color: rgba(247, 0, 0, 0.938);
 border: 3px black solid;
 border-radius: 8px;
 color: black;
 font-size: 20px;
 font-weight: 700; 
 margin-left: 30px;
 text-align: center;
 padding-top: 5px;
 
}

#umid_critico{  
 color: white;
 font-size: 22px;
 font-weight: 500;

}  

.alerta_umid {
 width: 10vw;
 height: 12vh;
 background-color:yellow;
 border: 3px black solid;
 border-radius: 8px;
 color: black;
 font-size: 20px;
 font-weight: 700; 
 margin-left: 30px;
 text-align: center;
 padding-top: 5px;
 
}

#umid_alerta{  
 color: white;
 font-size: 22px;
 font-weight: 500;

}

.ideal_umid {
 width: 10vw;
 height: 12vh;
 background-color:green;
 border: 3px black solid;
 border-radius: 8px;
 color: black;
 font-size: 20px;
 font-weight: 700; 
 margin-left: 30px;
 text-align: center;
 padding-top: 5px;
 
}

#umid_ideal{  
 color: white;
 font-size: 22px;
 font-weight: 500;

}  

.alerta2_umid {
 width: 10vw;
 height: 12vh;
 background-color:yellow;
 border: 3px black solid;
 border-radius: 8px;
 color: black;
 font-size: 20px;
 font-weight: 700; 
 margin-left: 30px;
 text-align: center;
 padding-top: 5px;
 
}

#umid_alerta2{  
 color: white;
 font-size: 22px;
 font-weight: 500;

}  



.critico2_umid {
 width: 10vw;
 height: 12vh;
 background-color:red;
 border: 3px black solid;
 border-radius: 8px;
 color: black;
 font-size: 20px;
 font-weight: 700; 
 margin-left: 30px;
 text-align: center;
 padding-top: 5px;
 
}

#umid_critico2{  
 color: white;
 font-size: 22px;
 font-weight: 500;

}  


.metricas{

 width: 72%;
 height: 18vh;
 display: flex;
 padding-top: 5px;
 margin-left: 99px;
 align-items: center;
 border-radius: 8px; 
 font-family: sans-serif;
}




.critico {
 width: 8vw;
 height: 12vh;
 background-color: rgba(247, 0, 0, 0.938);
 border: 3px black solid;
 border-radius: 8px;
 color: black;
 font-size: 20px;
 font-weight: 700; 
 margin-left: 30px;
 text-align: center;
 padding-top: 5px;
 
}

#temp_critico{  
 color: black;
 font-size: 22px;
 font-weight: 500;

}  

.alerta {
 width: 8vw;
 height: 12vh;
 background-color: yellow;
 border: 3px black solid;
 border-radius: 8px;
 color: black;
 font-size: 20px;
 font-weight: 700; 
 margin-left: 30px;
 text-align: center;
 padding-top: 8px;
 
}

#temp_alerta{  
 color: black;
 font-weight: 500;
 font-size: 22px;

}  



.ideal {
 width: 8vw;
 height: 12vh;
 background-color:green;
 border: 3px black solid;
 border-radius: 8px;
 color: black;
 font-size: 20px;
 font-weight: 700; 
 margin-left: 30px;
 text-align: center;
 padding-top: 8px;
 
}

#temp_ideal{  
 color: black;
 font-weight: 500;
 font-size: 22px;

}  

.alerta2 {
 width: 8vw;
 height: 12vh;
background-color: rgb(255, 255, 0, 0.712);
 border: 3px black solid;
 border-radius: 8px;
 color: black;
 font-size: 20px;
 font-weight: 700; 
 margin-left: 30px;
 text-align: center;
 padding-top: 5px;
 
}

#temp_alerta2{  
 color: black;
 font-size: 22px;
 font-weight: 500;

}  

.critico2 {
 width: 8vw;
 height: 12vh;
 background-color: rgba(247, 0, 0, 0.938);
 border: 3px black solid;
 border-radius: 8px;
 color: black;
 font-size: 20px;
 font-weight: 700; 
 margin-left: 30px;
 text-align: center;
 padding-top: 5px;
 
}

#temp_critico2{  
 color: black;
 font-size: 22px;
 font-weight: 500;

}  




 



.critico_umid {
    width: 10vw;
    height: 12vh;
    background-color: rgba(247, 0, 0, 0.938);
    border: 3px black solid;
    border-radius: 8px;
    color: black;
    font-size: 20px;
    font-weight: 700; 
    margin-left: 30px;
    text-align: center;
    padding-top: 5px;
    
}

#umid_critico{  
    color: black;
    font-size: 22px;
    font-weight: 500;

}  

.alerta_umid {
    width: 10vw;
    height: 12vh;
    background-color:yellow;
    border: 3px black solid;
    border-radius: 8px;
    color: black;
    font-size: 20px;
    font-weight: 700; 
    margin-left: 30px;
    text-align: center;
    padding-top: 5px;
    
}

#umid_alerta{  
    color: black;
    font-size: 22px;
    font-weight: 500;

}

.ideal_umid {
    width: 10vw;
    height: 12vh;
    background-color:green;
    border: 3px black solid;
    border-radius: 8px;
    color: black;
    font-size: 20px;
    font-weight: 700; 
    margin-left: 30px;
    text-align: center;
    padding-top: 5px;
    
}

#umid_ideal{  
    color: black;
    font-size: 22px;
    font-weight: 500;

}  

.alerta2_umid {
    width: 10vw;
    height: 12vh;
    background-color:yellow;
    border: 3px black solid;
    border-radius: 8px;
    color: black;
    font-size: 20px;
    font-weight: 700; 
    margin-left: 30px;
    text-align: center;
    padding-top: 5px;
    
}

#umid_alerta2{  
    color: black;
    font-size: 22px;
    font-weight: 500;

}  

 

.critico2_umid {
    width: 10vw;
    height: 12vh;
    background-color:red;
    border: 3px black solid;
    border-radius: 8px;
    color: black;
    font-size: 20px;
    font-weight: 700; 
    margin-left: 30px;
    text-align: center;
    padding-top: 5px;
    
}

#umid_critico2{  
    color: black;
    font-size: 22px;
    font-weight: 500;

}  


.graph {
    width: 80%;
    margin: auto;
    padding-top: 10px;
  } 
    
.analitycs{
   
    display: flex;
    flex-direction: column;

}

  #div_resultado{

    margin-left: 40px;
    margin-top: 50px;
    padding-top: 10px;
    width: 30vh;
    text-align: center;
    height: 6vh;
    font-weight: 800;
    border: 3px solid yellow;
    border-radius: 5px;
  }

  #div_resultado_temp{

    margin-top: 50px;
    padding-top: 10px;
    margin-left: 40px;
    width: 30vh;
    text-align: center;
    height: 6vh;
    font-weight: 800;
    border: 3px solid yellow;
    border-radius: 5px;
    display: none;
  }